:root {
  --header: #092d52;
  --header-light: #184e77;
  --header-hover: #2b90be;
  --background: #EDF2F4;
  --text: #c6e46d;
  --text-dark: #48B880;
  --border: #6d3d14;
  --highlight: 220, 242, 141;
  --deepen: #0c2f5269;
}
.header {
  background-color: var(--header);
}

/* .text {
  color: var(--text);
} */

.home-section {
  background-image: url('./assets/background/796839.jpg');
  background-position: bottom center;
  background-size:cover;
}

h1 { font-family: Arvo; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400;}
blockquote { font-family: Arvo; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: Arvo; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


/* .hl {
  border: 1px solid var(--text);
  background-color: var(--text);
  border-radius: 2px;
} */

.tabBtn{
  color: white;
  /* font-weight: bold; */
  transition: color 0.4s ease;
  font-size:18px;
  font-weight: lighter;
  cursor:pointer;
}

div .tabActive{
  color: var(--text);
}

.tabBtn:hover {
  transition: 0.2s;
  color: var(--text);
}
#canvas {
  width: 100%;
  height: 100%;
  }

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.project-bg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}


.image-wrapper:hover {
  opacity: 0;
}

.project-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  border-radius: 15px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.project-text:hover {
  opacity: 1;
  background:linear-gradient(45deg, rgba(153,217,140,0.9) 0%, rgba(217,237,146,0.8) 100%);
}

.learnMoreBtn {
  color:var(--header-light);
  text-align: center;
  border:1.5px solid var(--header);
  border-radius:  3px;
  width: 100px;
  margin: 0px auto;
  cursor: pointer; 
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.learnMoreBtn:hover {
  color: var(--header-hover);
  border:1.5px solid var(--header-hover);
}

/* .project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--header);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  color: var(--header-hover);
} */

footer {
  font-size: 48px;
  justify-content: center;
  background-color: var(--header);
}

footer a {
  color: var(--text-dark);
  margin: 10px 20px;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 1;
  text-decoration: none;
  color: var(--text);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
