:root {
  --header: #092d52;
  --header-hover: #11121a;
  --background: #EDF2F4;
  --text: #c6e46d;
  --text-dark: #48B880;
  --border: #6d3d14;
  --highlight: 63 ,233,69;
  --deepen: #0c2f5269;
}
.header {
  background-color: var(--header);
}

/* .text {
  color: var(--text);
} */

.home-section {
  background-image: url('./assets/background/796839.jpg');
  background-position: bottom center;
  background-size:cover;
}

h1 { font-family: Arvo; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Arvo; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Arvo; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


/* .hl {
  border: 1px solid var(--text);
  background-color: var(--text);
  border-radius: 2px;
} */

.tabBtn{
  color: white;
  /* font-weight: bold; */
  transition: color 0.4s ease;
  font-size: medium;
  cursor:pointer;
}

div .tabActive{
  color: var(--text);
}

.tabBtn:hover {
  transition: 0.2s;
  color: var(--text);
}
#canvas {
  width: 100%;
  height: 100%;
  }

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.project-bg {
  /* position: relative; */
  width: 100%;
  height: 100%;
}


.image-wrapper:hover {
  opacity: 0;
}

.project-text {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.project-text:hover {
  opacity: 1;
  background-color: rgba(var(--highlight),0.7);
}

.project-text h3 {
  font-size: 2.5rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all .3s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}

footer {
  font-size: 48px;
  justify-content: center;
  background-color: var(--header);
}

footer a {
  color: var(--text-dark);
  margin: 10px 20px;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  opacity: 1;
  text-decoration: none;
  color: var(--text);
}

/* React burger menu styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
  .project-text {
    opacity: 1;
    background-color: rgba(var(--highlight),0.3);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
